# ===============================
# TWILIO
# ===============================




app:
  token:
    refresh:
      duration: 2592000000


cloudinary:
  cloud_name: dmhmclzpm
  api_key: 981112714425554
  api_secret: qZFjzDWOGhM3Rp9EIib7Xo3ofZI


twilio:
  account_sid: AC9199eb804661ab92ac07cf27192b5108
  auth_token: 7db0fe2192206047e211b5fd3186927a
  phone_number: +12512208683

# ===============================
# DATABASE
# ===============================

server:
  port: 8080
  error:
    include-stacktrace: on_trace_param

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3308/insurance_portal
    username: root
    password: son1808

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 200MB